[submodule "Source/ThirdParty/spdlog"]
	path = Source/ThirdParty/spdlog
	url = git@github.com:chendebi/spdlog.git
[submodule "Source/ThirdParty/fmt"]
	path = Source/ThirdParty/fmt
	url = git@github.com:chendebi/fmt.git
[submodule "Source/ThirdParty/glm"]
	path = Source/ThirdParty/glm
	url = git@github.com:chendebi/glm.git
[submodule "Source/ThirdParty/glfw"]
	path = Source/ThirdParty/glfw
	url = git@github.com:chendebi/glfw.git
[submodule "Source/ThirdParty/assimp"]
	path = Source/ThirdParty/assimp
	url = git@github.com:chendebi/assimp.git
